<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46d8f8fb7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <title>Whiteboard</title>
</head>
<body>
    <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
            <div class="logo">
                <a href=""><img src="/assets/whiteboard2.png" alt=""></a>
            </div>

            <div class="flex space-x-6">
                <a href="" class="text-darkGrayishBlue hover:text-aqua">Stream</a>
                <a href="" class="text-darkGrayishBlue hover:text-aqua">Course</a>
                <a href="" class="text-darkGrayishBlue hover:text-aqua">Grades</a>
                <a href="/calendar" class="text-darkGrayishBlue hover:text-aqua">Calendar</a>
                



            </div>

            <div class="space-x-6">
                <i class="text-aqua text-2xl fa-regular fa-moon"></i>
                <i class="text-darkGrayishBlue text-2xl fa-regular fa-bell"></i>
            </div>
            
        </div>
        

    </nav>
    
</body>
</html>