<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46d8f8fb7b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <title>Whiteboard</title>
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style> -->
</head>
<body>
    <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
            <div class="logo">
                <a href=""><img src="/assets/whiteboard4.png" alt=""></a>
            </div>

            <div class="nav-links flex space-x-6">
                <a href="/course" class="hover:text-jetBlue">Stream</a>
                <a href="" class="hover:text-jetBlue">Courses</a>
                <a href="" class="hover:text-jetBlue">Grades</a>
                <a href="/calendar" class="hover:text-jetBlue">Calendar</a>



            </div>

            <div class="space-x-6">
                <!-- <i class="text-darkGrayishBlue text-2xl fa-regular fa-moon"></i> -->
                <i class="hover:text-jetBlue hover:cursor-pointer text-2xl fa-regular fa-bell"></i>
            </div>
            
        </div>
        

    </nav>
    
</body>
</html>